<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bold.repository.UserMapper">
	<resultMap type="User" id="UserResult">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="email" column="email" />
		<result property="head" column="head" />
		<result property="headUrl" column="head_url" />
		<result property="birthday" column="birthday" /> 
		<result property="salary" column="salary" />
		<result property="gmt_create" column="gmt_create" />
		<result property="gmt_modified" column="gmt_modified" />
		<result property="role_id" column="role_id" />
		<result property="active" column="active" />
	</resultMap>
	<select id="selectAll" resultMap="UserResult">
		select id,name,age,email,birthday,salary,gmt_create,is_active as active from crud_user
	</select>
	<select id="selectById" resultType="User">
		select id,name,age,email,birthday,salary,gmt_create,is_active as active from crud_user 
		where id=#{id}
	</select>
	<insert id="insert" parameterType="User">
		insert into crud_user(name,age,salary,is_active,role_id) 
		values(#{name},#{age},#{salary},1,1)
	</insert>
	<select id="selectCount" resultType="Integer">
		select count(*) from crud_user
	</select>
	<select id="selectByWhere" parameterType="Hashmap" resultType="User">
		select id,name,age,email,birthday,salary,gmt_create,is_active as active from crud_user
		<where>
			<if test=" num1 != 0 ">
				salary &gt;= #{num1}
			</if>
			<if test=" num2 != 0 "> 
				and salary &lt;= #{num2}
			</if>
			<if test=" roleId != -1 "> 
				and role_id = #{roleId}
			</if>
		</where>
	</select>
	<select id="selectByWhereCount" parameterType="Hashmap" resultType="java.lang.Integer">
		select count(*) from crud_user
		<where>
			<if test=" num1 != 0 ">
				salary &gt;= #{num1}
			</if>
			<if test=" num2 != 0 "> 
				and salary &lt;= #{num2}
			</if>
			<if test=" roleId != -1 "> 
				and role_id = #{roleId}
			</if>
		</where>
	</select>
</mapper>